@import url("https://fonts.googleapis.com/css?family=Kumar+One+Outline|Markazi+Text|Karla");

/*
UNIVERSALS
*/

body {
  background: #f4f4f4;
  font-family: "Markazi Text", serif;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
hr {
  background-color: rgb(204, 230, 243);
  color: #636363;
}
.fullpageSection {
  padding-top: 3%;
  height: 100vh;
}

.stickyMcSticky {
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
}

.otherMainMenu {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  float: right;
}

.otherMainMenu span {
  color: white;
  margin: 7px 9px;
  border: 1px solid white;
  height: 10px;
}

.header {
  color: rgb(58, 58, 58);
  align-self: flex-end;
  margin: auto;
  font-size: 3em;
  font-family: "Kumar One Outline", cursive;
  margin-left: 3%;
}

/*
MAIN PAGE
*/

.starContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
}

.stars {
  width: 36%;
}

.directory {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 20%;
}

.title {
  color: rgb(58, 58, 58);
  align-self: flex-end;
  margin: auto;
  font-size: 3em;
  font-family: "Kumar One Outline", cursive;
}

.mainMenu {
  display: flex;
  flex-direction: row;
  margin-top: 1%;
}

.mainMenu span {
  color: #88bbd6;
  margin: 7px 10px;
  border: 2px solid #88bbd6;
  border-radius: 1000px;
  height: 1px;
}

.menuButton {
  font-size: 1.75em;
  color: rgb(58, 58, 58);
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.button:after {
  display: block;
  content: "";
  border-bottom: solid 3px #88bbd6;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.button:hover:after {
  transform: scaleX(1);
}

.button.fromRight:after {
  transform-origin: 100% 50%;
}

.button.fromLeft:after {
  transform-origin: 0% 50%;
}

/*
ABOUT
*/

.aboutSection {
  margin-left: 5%;
  display: flex;
}

.descriptionTagline {
  color: rgb(58, 58, 58);
  font-size: 2em;
  font-family: "Markazi Text", serif;
  width: 80%;
}

.descriptionWords {
  color: #636363;
  font-family: "Markazi Text", serif;
  width: 55%;
}
.picture {
  float: right;
  margin-top: 0;
  padding-top: 0;
  padding-right: 5%;
}

.profileImage {
  height: 70vh;
  width: auto;
}

/*
RESUME
*/

.resumeSection {
  padding-top: 3%;
  height: auto;
  background-color: rgb(204, 230, 243);
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

.download {
  color: #3cab70;
  font-family: "Markazi Text", serif;
  font-size: 1.5rem;
  text-decoration: none;
  border: none;
  margin-left: 3%;
}

.download:hover {
  opacity: 0.6;
}

.currentResume {
  text-align: center;
  font-family: "Karla", sans-serif;
  font-size: 1.2rem;
  color: rgb(58, 58, 58);
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
}
.currentResume ul {
  list-style-type: square;
}

* {
  box-sizing: border-box;
}

/* Container for skill bars */
.container {
  width: 100%; /* Full width */
  background-color: #ddd;
}

.skills {
  text-align: left; /* Right-align text */
  padding-right: 20px; /* Add some right padding */
  line-height: 1rem; /* Set the line-height to center the text inside the skill bar, and to expand the height of the container */
  color: #89deb0; /* White text color */
}

.java {
  width: 70%;
  background-color: #89deb0;
}
.html {
  width: 90%;
  background-color: #89deb0;
}
.css {
  width: 80%;
  background-color: #89deb0;
}
.c {
  width: 25%;
  background-color: #89deb0;
}

.pro {
  width: 75%;
  background-color: #89deb0;
}
.photoshop {
  width: 90%;
  background-color: #89deb0;
}
.as {
  width: 30%;
  background-color: #89deb0;
}

/*
PORTFOLIO
*/
.fullPortfolio {
  padding-top: 3%;
  height: auto;
  overflow: auto;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}
.fullPortfoliot::-webkit-scrollbar {
  display: none;
}
.projects {
  margin-left: auto;
  margin-right: auto;
  width: 40vw;
  margin-top: 3%;
  font-family: "Karla", sans-serif;
  color: #636363;
  font-size: 0.9rem;
}

.singleProject {
  margin-bottom: 10%;
  background-color: white;
}

.singleProject img {
  height: auto;
  width: 40vmax;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.singleProject a {
  text-decoration: none;
  border: none;
  cursor: pointer;
  color: #88bbd6;
}

.processing {
  display: flex;
}

.processing img {
  width: 20vw;
  height: 20vw;
}

/*
CONTACT
*/

.contactProfiles {
  padding-left: 3%;
}

.contact {
  min-width: 696px;
  list-style: none;
  padding-top: 20px;
}

.contactli {
  display: inline;
  padding: 10px 20px;
}

.contactli:hover {
  opacity: 0.6;
}

footer {
  width: 100vw;
  position: absolute;
  padding: 2.5rem;
  background-color: rgb(204, 230, 243);
  font-size: 1 rem;
  color: #636363;
  font-family: "Markazi Text", serif;
}

footer a {
  text-decoration: none;
  border: none;
  cursor: pointer;
  color: #636363;
}

span.right {
  float: right;
}

/*
CSS for smaller screens
*/

@media screen and (max-width: 700px) {
  /*
  UNIVERSALS
  */

  body {
    width: 100%;
  }
  .header {
    align-self: flex-end;
    margin: auto;
    font-size: 2.5em;
    margin-left: 3%;
    color: #88bbd6;
  }

  .otherMainMenu {
    display: none;
  }

  .column {
    width: 100%;
  }

  /*
  MAIN 
  */

  .starContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55%;
  }

  .stars {
    width: 75%;
  }

  .title {
    font-size: 2.5rem;
  }

  .mainMenu {
    display: none;
  }
  /*
  ABOUT
  */

  .aboutDescription {
    margin-left: 5%;
  }

  .descriptionTagline {
    width: 100%;
  }

  .descriptionWords {
    display: inline-block;
    width: 100%;
  }

  .picture {
    display: none;
  }

  /*
PORTFOLIO
*/

  /*
CONTACT
*/

  .contactProfiles {
    padding-left: 3%;
  }

  .contact {
    min-width: none;
    list-style: none;
    padding-top: 20px;
    padding-left: 0;
  }

  .contactli {
    display: inline;
    padding: none;
    padding-left: 0;
  }

  .email {
    font-size: 1.5rem;
    padding-left: 3%;
  }
}
